

<%
 	if request.xhr?
		flash_message = flash.now[:success] || flash.now[:notice] || flash.now[:alert]
		style_classes = ""
	else
		style_classes = "margin-top-10 margin-bottom-5 margin-left-40 margin-right-40"
		flash_message = flash[:success] || flash[:notice] || flash[:alert]
	end
	cls_name = "alert"
	cls_name = 'alert success' if flash.now[:success] || flash[:success]
	cls_name = 'alert warning' if flash.now[:notice] || flash[:notice]
	cls_name = 'alert danger' if flash.now[:alert] || flash[:alert]
	
	flash_message = flash_message.strip if flash_message
	
 %>
<% unless flash_message.blank? %>
  <div class="<%= style_classes %> <%= cls_name %> fade in" data-alert="alert" style="margin-bottom:5px;">
    <%= flash_message %>
  </div>
<% end %>
