<%#* Modal for showing popups (in general) -%>
<div id="div_modal_popup" class="modal wider-modals hide fade" tabindex="-3" role="dialog" aria-labelledby="Show Message" aria-hidden="true"></div>

<%#* Modal for showing popup messages -%>
<div id="div_modal_popup_message" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Show Message" aria-hidden="true">
  <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><h3 id="h3_modal_popup_message_header">Modal header</h3></div>
  <div class="modal-body"><p>One fine body…</p></div>
  <div class="modal-footer"><button class="btn" data-dismiss="modal" aria-hidden="true">Close</button></div>
</div>