<div class="navbar" id="nav1">
  <div class="row">
    <div class="push_two eight columns">
      <div class="row">
        <a class="toggle" gumby-trigger="#nav1 &gt; .row &gt; ul" href="#"><i class="icon-menu"></i></a>
        <h1 class="four columns logo">
          <a href="#">
            <!-- <img src="img/gumby_mainlogo.png" gumby-retina=""> -->
            Todo List      </a>
        </h1><!-- /.four columns logo -->
        <ul class="eight columns">
          <li><a href="#">Home</a></li>
          <li><a href="#">Menu 1</a></li>
          <li><a href="#">Menu 2</a></li>
          <li class="field"><input class="search input" type="search" placeholder="Search"></li>
        </ul><!-- /.eight columns -->
      </div><!-- /.row -->
    </div><!-- /.push_two eight columns -->
  </div><!-- /.row -->
</div><!-- /.navbar -->
	