/* 
  Ensure that you load this file in application.css after gumby (backword slash to escape)
*/

/* handy CSS will insist a margin and padding for all ul and li. Overriding handy css behaviour for ul and li in .navbar class*/
.navbar ul, .navbar ul > li, .navbar ul > li > div.dropdown > ul {margin:0px !important; padding:0px !important;}

/* logo left padding is not required */
.navbar .logo a {padding:0px; color:#fff;}
.navbar {margin-bottom:0px;}

h1 { font-size: 32px; font-size: 2.00rem}
h2 { font-size: 28px; font-size: 1.80rem}
h3 { font-size: 24px; font-size: 1.60rem}
h4 { font-size: 20px; font-size: 1.50rem}
h5 { font-size: 16px; font-size: 1.40rem}
h6 { font-size: 14px; font-size: 1.30rem}

/* jQuery Validation error highlighting */
div.danger label.error {color: darkred; font-size:12px;}
div.danger textarea {background-color: #f0c5c5; }

/* textareas should stretch maximum with default border color to match with text boxes. Also the text style should match with text input fields*/
form textarea {width: 100%; border-color:#d8d8d8; color: #222; padding: 5px 10px; font-family: 'Open Sans'; font-weight: 300;}


